<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#A24689;">Create your own events</h2>
        <h3 class="oe_slogan">Organize, publish, promote and sell.</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="event_sc_00.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#A24689;">Host events that resonates with your audience</h2>
        <h3 class="oe_slogan">Easily create live or online events</h3>
        <p class="oe_mt32">
        One platform to manage it all. Odoo Events covers all aspects of an event manager's work: organization, visibility, promotion and sale. Use it with any kind of event, including conferences, meetings, seminars, training and webinars.
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="website_event.png" style="margin-left: -1px;">
            <h2 class="oe_slogan oe_mt32" style="text-align: left; color:#A24689;">Design classy event web pages</h2>
            <h3 class="oe_slogan" style="text-align: left;">Publish an event Web page has never been so simple</h3>
            <p class="oe_mt32">
            Bring to life your event in a few clicks with our building blocks approach. Forget about code and quickly turn your idea into visuals.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="events.png" style="margin-left: -1px;">
            <h2 class="oe_slogan oe_mt32" style="text-align: left; color:#A24689;">Great events offer great content</h2>
            <h3 class="oe_slogan" style="text-align: left; margin-bottom: 60px;">Organize tracks and manage speakers</h3>
            <p class="oe_mt32">
            Add a talk proposal form on your event websites to allow visitors to submit talks and speakers. Organize the validation process of every talk, and schedule them easily.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span3 text-center">
            <span class="fa fa-2x fa-desktop"/>
            <p class="oe_mt16">
            Odoo's unique frontend and backend integration makes organization and publication extremely simple.
            </p>
        </div>
        <div class="oe_span3 text-center">
            <span class="fa fa-2x fa-calendar"/>
            <p class="oe_mt16">Automatically display your event&apos;s agenda in a clear, classy design on your website.</p>
        </div>
        <div class="oe_span3 text-center">
            <span class="fa fa-2x fa-search"/>
            <p class="oe_mt16">Allow your visitors to easily search and browse through the program and talks filter by tags, locations or speakers.</p>
        </div>
        <div class="oe_span3 text-center">
            <span class="fa fa-2x fa-paint-brush"/>
            <p class="oe_mt16">Easily design clear and visually appealing speakers' biographies talks descriptions.</p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="sponsors.png" style="margin-left: -1px;">
            <h2 class="oe_slogan oe_mt32" style="text-align: left; color:#A24689;">Get sponsors to come to you</h2>
            <h3 class="oe_slogan" style="text-align: left;">Sell sponsorship, promote your sponsors</h3>
            <p class="oe_mt32 text-justify">
            Easily manage existing and new sponsors with Odoo Events. Add sponsors to your events and publish sponsors per level (e.g., gold) on the bottom of every page of the event. Sell sponsorship packages online through Odoo e-Commerce.</p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="website_seo.png" style="margin-left: -1px;">
            <h2 class="oe_slogan oe_mt32" style="text-align: left; color:#A24689;">Increase your events&apos; visibility</h2>
            <h3 class="oe_slogan" style="text-align: left; margin-bottom: 60px;">SEO integration and Google Analytics</h3>
            <p class="oe_mt32 text-justify">
            Ready-to-use SEO tools are available directly in Odoo with no configuration required. Keyword suggestion according to Google most searched terms, automatically structured content to promote your events and products efficiently in Google, and Google Analytics integration to track your shopping cart. Events and sitemaps are created automatically.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="event_promote.png" style="margin-left: -1px;">
            <h2 class="oe_slogan oe_mt32" style="text-align: left; color:#A24689;">Total promotion tools</h2>
            <h3 class="oe_slogan" style="text-align: left;">Promote events efficiently on all channels</h3>
            <p class="oe_mt32 text-justify">
            Segment your audience, leverage social media and email marketing to promote your events to the right audience. Odoo Events&apos; smooth integration with countless Odoo apps simplifies promotion to the extreme. Setup automated campaigns for attendees, or automatically send timely emails to registrants. Optimize conversions with ad-hoc landing pages for your different marketing campaigns.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="event_sell.png" style="margin-left: -1px;">
            <h2 class="oe_slogan oe_mt32" style="text-align: left; color:#A24689;">Sell tickets online</h2>
            <h3 class="oe_slogan" style="text-align: left;">Automate the registration and payment process</h3>
            <p class="oe_mt32 text-justify">
            Manage registrations and sell tickets online to your events. Choose whether it is a free event or whether attendees need to register for a fee. Pick the paying method -pay online with a credit card or with the invoice. Define special conditions such as early-bird prices, member benefits or extra services with multiple tickets. All you need to boost your event attendance.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#A24689;">Clean Google Analytics integration</h2>
        <h3 class="oe_slogan">Control your sales funnel with Google Analytics</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="analytics.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Know your event&apos;s analytics inside out. Odoo's Google Analytics trackers are configured by default to track all kind of events related to shopping carts, call-to-actions, etc. Analyze, improve, repeat! All Odoo marketing tools and programs (mass mailing, marketing campaigns, etc) are also linked with Google Analytics in order to provide you with a full 360&deg; view of your business.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
